// app global css in SCSS form
#front-layout {
  overflow: hidden;

  .q-header {
    width: 100vw;
    background-color: $secondary;

    .q-layout__shadow:after {
      box-shadow: none;
    }

    .q-toolbar {
      padding-left: 0;
    }

    .q-toolbar__title {
      text-align: right;

      .q-btn {
        color: $accent;
      }
    }

    .logo {
      .q-btn {
        font-size: 20px;
        color: $accent;
      }
    }

    .q-btn::before {
      box-shadow: none;
      margin-right: 0.2rem;
    }

    .burger-icon {
      font-size: 16px;
      color: $accent;
    }

    .side-nav {
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      right: 0;
      border: 0;
      color: white;
      padding: 15px 15px 5px 0;
      text-align: center;
      width: 120px;
      
      div {
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }
      
      .q-btn {
        width: 100%;
        font-size: 0.9rem;

        &:nth-child(1) {
          margin-bottom: 20px;
        }

        &:hover {
          background-color: none;
        }
      }

      .scroll {
        overflow: hidden;
      }
    }
  }
}

#front-main {
  flex-direction: column;

  .video {
    position: relative;
    #myVideo {
      filter: brightness(50%);
      width: 100vw;
    }
    .sloganA {
      font-size: 1.5rem;
      color: white;
      position: absolute;
      left:5%;
      top:20%;
      opacity: 0;
      // animation: slogan 3s linear 1s forwards;
    }
    .sloganB {
      font-size: 1.5rem;
      color: white;
      position: absolute;
      left:5%;
      top:30%;
      opacity: 0;
    }
  }

  .toolbar {
    background-color: $secondary;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    a {
      font-size: 1.2rem;
      width: 10%;
      text-decoration: none;
      color: black;
    }
  }

  #about-us {
    height: 100vh;
    color: $accent;

    h1 {
      text-align: center;
      font-size: 2.5rem;
      font-family: 'Noto Sans TC', sans-serif;
      font-weight: 400;
      margin-top: 50px;
    }
    .left {
      .content {
        font-size: 1.2rem;
        padding: 0 20px;
      }
    }
    .right {
      width: 90vw;
      margin: 30px auto 0;
      .q-table__card {
        box-shadow: none;
        border:1px solid $secondary;
        border-radius: 0;
      }
      .q-table__top {
        background-color: $secondary;
        color:$accent;
      }
      .q-table {
        thead {
          color: $accent;
        }
        tbody {
          tr:nth-child(odd) {
            background-color: rgba(0,0,0,0.03);
          }
        }
        tr td:nth-child(1) {
          width: 25%;
        }
        tr td:nth-child(2) {
          width: 25%;
        }
        tr td:nth-child(3) {
          width: 50%;
        }
      }
    }
  }

  #partner-intro {
    user-select: none;
    background-color: $secondary;
    width: 100vw;
    height: 100vh;
    padding: 20px solid black;

    h1 {
      font-family: 'Noto Sans TC', sans-serif;
      font-weight: 400;
      font-size: 2.5rem;
      padding-top: 30px;
    }

    .container {
      height: 100%;
      text-align: center;

      .swiper {
        width: 80vw;
        height: calc(100vh - 96px);

        .swiper-button-prev {
          color: teal;
          top: 40%;
          left: 0%;
        }

        .swiper-button-next {
          color: teal;
          top: 40%;
          right: 0;
        }

        .swiper-slide {
          display: flex;
          flex-direction: column;
          align-items: center;

          .q-card {
            font-size: 0;
            box-shadow:
              5px 5px 5px rgb(154, 179, 176),
              10px 10px 15px rgba(154, 179, 176, 0.7);

            &:hover {
              scale: 1.1;
              transition: .5s;
            }

            .worker-pic {
              display: block;
              width: 300px;
              height: 300px;
              object-fit: cover;
              border-bottom: 5px solid $primary;
            }

            .worker-name {
              font-size: 30px;
              text-align: left;
              font-family: 'Noto Sans TC', sans-serif;
              color: teal;
              margin-bottom: 10px;
            }

            .worker-hobby,
            .worker-personal,
            .worker-word {
              font-size: 1rem;
              text-align: left;
              font-family: 'Noto Sans TC', sans-serif;
              color: teal;
            }

            .q-btn {
              margin-top: 20px;
              color: $accent;
            }

            marquee {
              font-size: 1rem;
              width: 100%;
              background-color: $accent;
              color: white;
            }
          }
        }
      }
    }
  }
}

#register {
  background-color: $secondary;
  height: 100vh;
  padding-top: 15vh;

  .contain {
    width: 90%;
    margin: auto;
    border: 5px solid $primary;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;

    .logo {
      position: relative;
      display: flex;
      color: teal;

      span {
        font-size: calc(2rem + 1vw);
      }

      .q-icon {
        font-size: calc(2.8rem + 1vw);
      }
    }

    .col-12:nth-child(2) {
      position: relative;

      .text-h3 {
        text-align: center;
        padding-bottom: 2rem;
        color: $accent;
        font-size: calc(2rem + 1vw);
      }

      .q-btn {
        position: absolute;
        right: -5%;
        top: -4.5rem;
        color: $accent;
        font-size: 1.2rem;

        &::before {
          box-shadow: none;
        }
      }
    }

    .col-12:nth-child(3) {
      .btn-contain {
        padding-top: 2rem;
        display: flex;
        justify-content: space-around;

        .q-btn {
          width: 20%;
        }
      }
    }
  }
}

#login {
  background-color: $secondary;
  height: 100vh;
  padding-top: 20vh;

  .contain {
    width: 90%;
    margin: auto;
    border: 5px solid $primary;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;

    .logo {
      position: relative;
      display: flex;
      color: teal;

      span {
        font-size: calc(2rem + 1vw);
      }

      .q-icon {
        font-size: calc(2.8rem + 1vw);
      }
    }

    .col-12:nth-child(2) {
      position: relative;

      .text-h3 {
        text-align: center;
        padding-bottom: 2rem;
        color: $accent;
        font-size: calc(2rem + 1vw);
      }

      .q-btn {
        position: absolute;
        right: -5%;
        top: -20%;
        color: $accent;
        font-size: 1.2rem;

        &::before {
          box-shadow: none;
        }
      }
    }

    .col-12:nth-child(3) {
      .btn-contain {
        padding-top: 2rem;
        display: flex;
        justify-content: space-around;

        .q-btn {
          width: 20%;
        }
      }
    }
  }
}

#setting {
  .q-header {
    .q-btn {
      &::before {
        box-shadow: none;
      }
    }
  }
}

#info {
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: $secondary_7 ;

  .my-card {
    width: 60vw;
    font-size: 2.5rem;
    position: relative;

    .main-card {
      padding-top: 5rem;

      .name {
        text-align: center;
        padding: 1.5rem 0 0rem;
      }

      .q-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 5px 5px 10px rgb(154, 179, 176);
        object-fit: cover;
      }

      .info_main {
        font-size: 1.2rem;

        div {
          border-left: 10px solid $primary;
          margin-bottom: 10px;
          padding-left: 10px;
        }
      }
    }

    .btn-card {
      display: flex;
      padding: 0;

      .line {
        background-color: rgba(0, 0, 0, 0.12);
        width: 100%;
        height: 1px;
      }

      .q-btn {
        width: 100%;
        margin: 8px;
        font-size: 1rem;

        &:nth-child(2) {
          margin-left: 0;
        }
      }
    }
  }
}

.password-dialog {
  .q-card {
    width: 70vw;

    .password-title {
      background-color: $title;

      div {
        font-size: 1.3rem;
        color: white;
      }
    }

    .password-main {
      .col {
        font-size: 1rem;
        margin-bottom: 10px;
      }
    }

    .password-btn {
      padding-top: 0;
      display: flex;
      justify-content: space-evenly;

      .q-btn {
        width: 100px;
      }
    }
  }
}

.pic-dialog {
  .q-card {
    width: 20vw;

    .pic-title {
      background-color: $title;

      div {
        color: white;
        font-size: 1.3rem;
      }
    }

    .pic-main {
      .col {
        font-size: 1rem;
        margin-bottom: 10px;
      }
    }

    .pic-btn {
      padding-top: 0;
      display: flex;
      justify-content: space-evenly;

      .q-btn {
        width: 100px;
      }
    }
  }
}

#comment {
  height: calc(100vh - 50px);
  background-color: $secondary_7 ;

  .title {
    text-align: center;
    margin: 24px auto 0;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .q-card {
    margin: 24px auto;
    border: 5px solid $primary;
    display: flex;
    justify-content: space-between;
    max-width: 400px;

    .comment-main {
      width: 70%;
      display: flex;
      position: relative;

      .line {
        width: 5px;
        background-color: rgba(0, 0, 0, 0.12);
        margin-right: 10px;
        display: none;
      }

      .comment-avatar {
        .q-img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          position: absolute;
          left: -9%;
          top: -30%;
        }
      }

      .message {
        width: 100%;
      }
    }

    .q-card__actions {
      padding: 0;

      .q-form {
        width: 100%;
        height: 100%;

        .comment-btn {
          height: 100%;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .q-btn {
            height: 50%;

            &::before {
              box-shadow: none;
            }

            &:nth-child(2) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

#appointment {
  height: calc(100vh - 50px);
  background-color: $secondary_7;

  .q-table__top {
    background-color: $title;
    color: $accent;

    .q-table__title {
      font-weight: bold;
    }
  }

  .q-table {
    th {
      font-weight: bold;
      font-size: 1rem;
      color: $accent;

      &:nth-child(8) {
        text-align: center;
      }
    }

    tr td:nth-child(1) {
      width: 10%;
    }

    tr td:nth-child(2) {
      width: 15%;
    }

    tr td:nth-child(3) {
      width: 15%;
    }

    tr td:nth-child(4) {
      width: 15%;
    }

    tr td:nth-child(5) {
      width: 15%;
    }

    tr td:nth-child(6) {
      width: 10%;
    }

    tr td:nth-child(7) {
      width: 10%;
    }

    tr td:nth-child(8) {
      text-align: center;
    }

    .confirm-btn {
      .q-btn {
        color: $accent;
        border: 1px solid $accent;
        margin: 10px 0 0 10px;
  
        &::before {
          box-shadow: none;
        }
      }
    }
  }

  .q-pagination {
    margin: 24px 24px 24px 0;

    .q-btn {
      width: 50px;
      height: 50px;
    }
  }
}

.appointment-dialog {
  .q-card {
    width: 70vw;

    .appointment-title {
      background-color: $title;

      div {
        font-size: 1.3rem;
        color: white;
      }
    }

    .appointment-main {
      .col {
        font-size: 1rem;
        margin-bottom: 10px;
      }
    }

    .appointment-btn {
      padding-top: 0;
      display: flex;
      justify-content: space-evenly;

      .q-btn {
        width: 100px;
      }
    }
  }
}

.deleteAppointment-dialog {
  .q-card {
    width: 20vw;

    .deleteAppointment-title {
      background-color: $title;

      div {
        font-size: 1.3rem;
        color: white;
      }
    }

    .deleteAppointment-btn {
      padding-top: 20px;
      display: flex;
      justify-content: space-evenly;

      .q-btn {
        width: 100px;
      }
    }
  }
}

#question {
  height: calc(100vh - 50px);
  background-color: $secondary_7;

  .add {
    margin: 0 0 24px 0;
    background-color: $accent;
    color: white;
  }

  .q-table__top {
    background-color: $title;
    color: $accent;

    .q-table__title {
      font-weight: bold;
    }
  }

  .q-table {
    th {
      font-weight: bold;
      font-size: 1rem;
      color: $accent;
    }

    tr td:nth-child(1) {
      width: 10%;
    }

    tr td:nth-child(2) {
      width: 20%;
    }

    tr td:nth-child(3) {
      width: 20%;
    }

    tr td:nth-child(4) {
      width: 60%;
      white-space: normal;
    }

    tr td:nth-child(5) {
      width: 10%;
      text-align: center;
    }

    .q-btn {
      color: $accent;

      &::before {
        box-shadow: none;
      }
    }
  }

  .q-pagination {
    margin: 24px 24px 24px 0;

    .q-btn {
      width: 50px;
      height: 50px;
    }
  }
}

.question-dialog {
  .q-card {
    width: 70vw;

    .question-title {
      background-color: $title;

      div {
        font-size: 1.3rem;
        color: white;
      }
      .q-btn {
        color: $accent;
      }
    }

    .question-main {
      .col {
        font-size: 1rem;
        margin-bottom: 10px;
      }
    }

    .question-btn {
      padding-top: 0;
      display: flex;
      justify-content: space-evenly;

      .q-btn {
        width: 100px;
      }
    }
  }
}

#work {
  height: calc(100vh - 50px);
  background-color: $secondary_7;

  .q-table__top {
    background-color: $title;
    color: $accent;

    .q-table__title {
      font-weight: bold;
    }
  }

  .q-table {
    th {
      font-weight: bold;
      font-size: 1rem;
      color: $accent;

      &:nth-child(8) {
        text-align: center;
      }
    }

    tr td:nth-child(1) {
      width: 10%;
    }

    tr td:nth-child(2) {
      width: 10%;
    }

    tr td:nth-child(3) {
      width: 10%;
    }

    tr td:nth-child(4) {
      width: 15%;
    }

    tr td:nth-child(5) {
      width: 10%;
    }

    tr td:nth-child(6) {
      width: 10%;
    }

    tr td:nth-child(7) {
      width: 10%;
    }

    tr td:nth-child(8) {
      width: 10%;
      text-align: center;
    }

    .confirm-btn {
      .q-btn {
        color: $accent;
        border: 1px solid $accent;
        margin: 10px 0 0 10px;
  
        &::before {
          box-shadow: none;
        }
      }
    }
  }

  .q-pagination {
    margin: 24px 24px 24px 0;

    .q-btn {
      width: 50px;
      height: 50px;
    }
  }
}

.work-dialog {
  .q-card {
    width: 20vw;

    .work-title {
      background-color: $title;

      div {
        font-size: 1.3rem;
        color: white;
      }
    }

    .work-btn {
      padding-top: 20px;
      display: flex;
      justify-content: space-evenly;

      .q-btn {
        width: 100px;
      }
    }
  }
}

#feedback {
  height: calc(100vh - 50px);
  background-color: $secondary_7 ;

  .title {
    text-align: center;
    margin: 24px auto 0;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .q-card {
    margin: 24px auto;
    border: 5px solid $primary;
    display: flex;
    justify-content: space-between;
    max-width: 400px;

    .feedback-main {
      width: 70%;
      display: flex;
      position: relative;

      .line {
        width: 5px;
        background-color: rgba(0, 0, 0, 0.12);
        margin-right: 10px;
        display: none;
      }

      .feedback-avatar {
        .q-img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          position: absolute;
          left: -9%;
          top: -30%;
        }
      }

      .message {
        width: 100%;
      }
    }
  }
}

#setting {
  height: calc(100vh - 50px);
  background-color: $secondary_7;

  .q-table__top {
    background-color: $title;
    color: $accent;

    .q-table__title {
      font-weight: bold;
    }
  }

  .q-table {
    th {
      font-weight: bold;
      font-size: 1rem;
      color: $accent;

      &:nth-child(8) {
        text-align: center;
      }
    }

    tr td:nth-child(1) {
      width: 15%;
    }

    tr td:nth-child(2) {
      width: 15%;
    }

    tr td:nth-child(3) {
      width: 20%;
    }

    tr td:nth-child(4) {
      width: 15%;
    }

    tr td:nth-child(5) {
      width: 10%;
    }

    tr td:nth-child(6) {
      width: 15%;
    }

    tr td:nth-child(7) {
      text-align: center;
    }

    .q-btn {
      color: $accent;

      &::before {
        box-shadow: none;
      }
    }
  }

  .q-pagination {
    margin: 24px 24px 24px 0;

    .q-btn {
      width: 50px;
      height: 50px;
    }
  }
}

.setting-dialog {
  .q-card {
    width: 70vw;

    .setting-title {
      background-color: $title;

      div {
        font-size: 1.3rem;
        color: white;
      }
    }

    .setting-main {
      .col {
        font-size: 1rem;
        margin-bottom: 10px;
      }

      .q-file {
        margin-top: 10px;
      }
    }

    .setting-btn {
      padding-top: 0;
      display: flex;
      justify-content: space-evenly;

      .q-btn {
        width: 100px;
      }
    }
  }
}

#partner {
  height: calc(100vh - 50px);
  background-color: $secondary_7;

  .add {
    margin: 0 0 24px 0;
    background-color: #706F6B;
    color: white;
  }

  .q-table__top {
    background-color: $title;
    color: $accent;

    .q-table__title {
      font-weight: bold;
    }
  }

  .q-table {
    th {
      font-weight: bold;
      font-size: 1rem;
      color: $accent;
    }

    tr td:nth-child(1) {
      width: 10%;
    }

    tr td:nth-child(2) {
      width: 10%;
    }

    tr td:nth-child(3) {
      width: 10%;
    }

    tr td:nth-child(4) {
      width: 10%;
    }

    tr td:nth-child(5) {
      width: 10%;
    }

    tr td:nth-child(6) {
      width: 10%;
    }

    tr td:nth-child(7) {
      width: 10%;
    }

    tr td:nth-child(8) {
      width: 10%;
    }

    tr td:nth-child(9) {
      width: 15%;
      text-align: center;
    }

    .q-btn {
      color: $accent;

      &::before {
        box-shadow: none;
      }
    }
  }

  .q-pagination {
    margin: 24px 24px 24px 0;

    .q-btn {
      width: 50px;
      height: 50px;
    }
  }
}

.partner-dialog {
  .q-card {
    width: 70vw;

    .partner-title {
      background-color: $title;

      div {
        font-size: 1.3rem;
        color: white;
      }
    }

    .partner-main {
      .row {
        justify-content: center;
      }

      .col {
        font-size: 1rem;
        margin-bottom: 10px;
      }

      .q-file {
        margin-top: 10px;
      }
    }

    .partner-btn {
      padding-top: 0;
      display: flex;
      justify-content: space-evenly;

      .q-btn {
        width: 100px;
      }
    }
  }
}

#appointment-manage {
  height: calc(100vh - 50px);
  background-color: $secondary_7;

  .add {
    margin: 12px 0 0 16px;
    background-color: #706F6B;
    color: white;
  }

  .q-table__top {
    background-color: $title;
    color: $accent;

    .q-table__title {
      font-weight: bold;
    }
  }
  .all-appointment {
    display: none;
  }

  .all-reply {
    display: none;
    .q-table {
      tr td:nth-child(1) {
        width: 15%;
      }

      tr td:nth-child(2) {
        width: 10%;
      }

      tr td:nth-child(3) {
        width: 10%;
      }

      tr td:nth-child(4) {
        width: 15%;
      }

      tr td:nth-child(5) {
        width: 10%;
      }

      tr td:nth-child(6) {
        width: 10%;
      }

      tr td:nth-child(7) {
        width: 15%;
      }

      tr td:nth-child(8) {
        width: 15%;
      }
    }
  }

  .q-table {
    th {
      font-weight: bold;
      font-size: 1rem;
      color: $accent;
    }

    tr td:nth-child(1) {
      width: 15%;
    }

    tr td:nth-child(2) {
      width: 10%;
    }

    tr td:nth-child(3) {
      width: 10%;
    }

    tr td:nth-child(4) {
      width: 15%;
    }

    tr td:nth-child(5) {
      width: 10%;
    }

    tr td:nth-child(6) {
      width: 10%;
    }

    tr td:nth-child(7) {
      width: 15%;
    }

    tr td:nth-child(8) {
      width: 10%;
    }

    .q-btn {
      color: $accent;

      &::before {
        box-shadow: none;
      }
    }

    .disabled {
      cursor: auto;
    }
  }

  .q-pagination {
    margin: 24px 24px 24px 0;

    .q-btn {
      width: 50px;
      height: 50px;
    }
  }
}

.appointmentManage-dialog {
  .q-card {
    width: 70vw;

    .appointmentManage-title {
      background-color: $title;

      div {
        font-size: 1.3rem;
        color: white;
      }
    }

    .appointmentManage-main {
      .col {
        font-size: 1rem;
        margin-bottom: 10px;
      }

      .q-file {
        margin-top: 10px;
      }
    }

    .appointmentManage-btn {
      padding-top: 0;
      display: flex;
      justify-content: space-evenly;

      .q-btn {
        width: 100px;
      }
    }
  }
}

.appointmentDelete-dialog {
  .q-card {
    width: 20vw;

    .appointmentDelete-title {
      background-color: $title;

      div {
        font-size: 1.3rem;
        color: white;
      }
    }

    .appointmentDelete-btn {
      padding-top: 20px;
      display: flex;
      justify-content: space-evenly;

      .q-btn {
        width: 100px;
      }
    }
  }
}

#pageMessageManage {
  height: calc(100vh - 50px);
  background-color: $secondary_7;

  .add {
    margin: 0 0 24px 0;
    background-color: $accent;
    color: white;
  }

  .q-table__top {
    background-color: $title;
    color: $accent;

    .q-table__title {
      font-weight: bold;
    }
  }

  .q-table {
    th {
      font-weight: bold;
      font-size: 1rem;
      color: $accent;
    }

    tr td:nth-child(1) {
      width: 15%;
    }

    tr td:nth-child(2) {
      width: 15%;
    }

    tr td:nth-child(3) {
      width: 60%;
    }

    tr td:nth-child(4) {
      width: 10%;
    }

    .q-btn {
      color: $accent;

      &::before {
        box-shadow: none;
      }
    }
  }

  .q-pagination {
    margin: 24px 24px 24px 0;

    .q-btn {
      width: 50px;
      height: 50px;
    }
  }
}

.pageMessageManage-dialog {
  .q-card {
    width: 70vw;

    .pageMessageManage-title {
      background-color: $title;

      div {
        font-size: 1.3rem;
        color: white;
      }
    }

    .pageMessageManage-main {
      .col {
        font-size: 1rem;
        margin-bottom: 10px;
      }

      .q-file {
        margin-top: 10px;
      }
    }

    .pageMessageManage-btn {
      padding-top: 0;
      display: flex;
      justify-content: space-evenly;

      .q-btn {
        width: 100px;
      }
    }
  }
}

.pageMessageDelete-dialog {
  .q-card {
    width: 20vw;

    .pageMessageDelete-title {
      background-color: $title;

      div {
        font-size: 1.3rem;
        color: white;
      }
    }

    .pageMessageDelete-btn {
      padding-top: 20px;
      display: flex;
      justify-content: space-evenly;

      .q-btn {
        width: 100px;
      }
    }
  }
}

.partner-dialog {
  .q-card {
    width: 70vw;

    .partner-title {
      background-color: $title;

      div {
        font-size: 1.3rem;
        color: white;
      }
    }

    .partner-main {
      .col {
        font-size: 1rem;
        margin-bottom: 10px;
      }

      .q-file {
        margin-top: 10px;
      }
    }

    .partner-btn {
      padding-top: 0;
      display: flex;
      justify-content: space-evenly;

      .q-btn {
        width: 100px;
      }
    }
  }
}

#question-manage {
  height: calc(100vh - 50px);
  background-color: $secondary_7;

  .q-table__top {
    background-color: $title;
    color: $accent;

    .q-table__title {
      font-weight: bold;
    }
  }
  .add {
    margin: 12px 0 0 16px;
    background-color: #706F6B;
    color: white;
  }

  .done-reply {
    display: none;
  }
  

  .q-table {
    th {
      font-weight: bold;
      font-size: 1rem;
      color: $accent;

      &:nth-child(1) {
        text-align: center;
      }
    }

    tr td:nth-child(1) {
      width: 5%;
      text-align: center;
    }

    tr td:nth-child(2) {
      width: 10%;
    }

    tr td:nth-child(3) {
      width: 10%;
    }

    tr td:nth-child(4) {
      width: 50%;
    }

    tr td:nth-child(5) {
      width: 10%;
    }

    tr td:nth-child(6) {
      width: 10%;
    }

    .confirm-btn {
      .q-btn {
        color: $accent;
        border: 1px solid $accent;
        margin: 10px 0 0 10px;
  
        &::before {
          box-shadow: none;
        }
      }
    }
  }

  .q-pagination {
    margin: 24px 24px 24px 0;

    .q-btn {
      width: 50px;
      height: 50px;
    }
  }
}

@media (min-width: $breakpoint-sm-min) {
  #front-layout {
    .q-header {
      padding-left: calc(1rem + 10vw);
      .q-toolbar__title {
        padding-right: calc(1rem + 10vw);
        .q-btn {
          font-size: 1.2rem;
        }
      }
    }
  }
  #front-main {
    .video {
      .sloganA {
        font-size: calc(2rem + 2vw);
        left:5%;
        top:20%;
      }
      .sloganB {
        font-size: calc(2rem + 2vw);
        left:5%;
        top:35%;
      }
    }
    #about-us {
      .right {
        margin: 50px auto 0;
      }
    }
  }
  #register {
    .contain {
      width: 70%;

      .logo {
        left: -5px;
        top: -5px;
      }

      .col-12:nth-child(2) {
        .q-btn {
          top: calc(-5rem - 0.3vw)
        }
      }
    }
  }

  #login {
    .contain {
      width: 70%;

      .logo {
        left: -5px;
        top: -5px;
      }
    }
  }

  #info {
    .my-card {
      .main-card {
        .q-img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }

  #comment {
    .q-card {
      margin: 24px auto 24px;
      max-width: 1000px;

      .comment-main {
        .line {
          display: block;
        }

        .comment-avatar {
          .q-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: relative;
            top: 0%;
            left: -5%;
          }
        }
      }
    }
  }

  #feedback {
    .q-card {
      margin: 24px auto 24px;
      max-width: 1000px;

      .feedback-main {
        .line {
          display: block;
        }

        .feedback-avatar {
          .q-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: relative;
            top: 0%;
            left: -5%;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-md-min) {
  #front-main {
    #partner-intro {
      h1 {
        font-size: 3rem;
        padding-top: 25px;
      }
    }
  }

  #front-main {
    .video {
      .sloganA {
        font-size: calc(3rem + 2vw);
        left:5%;
        top:15%;
      }
      .sloganB {
        font-size: calc(3rem + 2vw);
        left:5%;
        top:30%;
      }
    }

    #about-us {
      h1 {
        font-size: 3.5rem;
        margin-top: 40px;
      }
      .right {
        margin: 80px auto 0;
      }
    }
  }

  #register {
    .contain {
      width: 50%;

      .logo {
        left: -10px;
        top: -10px;
      }

      .col-12:nth-child(2) {
        .q-btn {
          top: calc(-5.5rem - 0.3vw)
        }
      }
    }
  }

  #login {
    .contain {
      width: 50%;

      .logo {
        left: -10px;
        top: -10px;
      }
    }
  }

  #info {
    .my-card {
      .main-card {
        margin-top: 3rem;
        padding-top: 0;

        .q-img {
          left: 25%;
          top: 30%;
        }

        .name {
          font-size: 2.5rem;
          position: absolute;
          left: 17%;
          bottom: 20%;
        }

        .info_main {
          font-size: 1.4rem;
          padding-left: 30vw;
        }
      }

      .btn-card {
        .q-btn {
          font-size: 1.2rem;
        }
      }
    }
  }

  #comment {
    .q-card {
      max-width: 1000px;

      .comment-main {
        .line {
          display: block;
        }

        .comment-avatar {
          .q-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: relative;
            top: 0%;
            left: -5%;
          }
        }
      }
    }
  }

  #feedback {
    .q-card {
      max-width: 1000px;

      .feedback-main {
        .line {
          display: block;
        }

        .feedback-avatar {
          .q-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: relative;
            top: 0%;
            left: -5%;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-lg-min) {
  #front-main {
    .video {
      .sloganA {
        font-size: 5rem;
        left:5%;
        top:10%;
      }
      .sloganB {
        font-size: 5rem;
        left:5%;
        top:22%;
      }
    }
    #about-us {
      h1 {
        font-size: 4rem;
      }
      .row {
        align-items: center;
        .left {
          margin: auto;
          width: 40%;
        }
        .right {
          width: 40%;
        }
      }
    }
    #partner-intro {
      h1 {
        font-size: 3.5rem;
        padding-top: 20px;
      }
    }
  }

  #register {
    .contain {
      width: 40%;

      .logo {
        left: -20px;
        top: -20px;
      }

      .col-12:nth-child(2) {
        .q-btn {
          top: calc(-6.3rem - 0.7vw);
        }
      }
    }
  }

  #login {
    .contain {
      width: 40%;

      .logo {
        left: -20px;
        top: -20px;
      }
    }
  }

  #info {
    .my-card {
      width: 50vw;

      .main-card {
        .q-img {
          width: 300px;
          height: 300px;
          top: 40%;
        }

        .name {
          bottom: 8%;
          left: 19%;
        }

        .info_main {
          padding-left: 25vw;
        }
      }
    }
  }
}